<%- include('./layout/header') -%>

<div class="container" id="landingContainer">
	<div class="row">
		<div class="col">
			<div class="landingTextContainer">
				<h1 class="title">Welcome to the Yeagerists</h1>
				<h2 class="playfair">Make an account and join the cause</h2>
			</div>

			<%if (messages.length > 0) { %>
			<div class="messagesContainer">
				<% messages.forEach(message => {%>
				<div class="card messageCard">
					<div class="card-body">
						<h5 class="card-title title"><%= message.title %></h5>
						<p class="card-text"><%= message.message_content %></p>

						<%if (currentUser && currentUser.membership_status) { %>
						<p class="card-text">
							<b class="playfair">Author Name:</b>
							<%= message.user_id.name %>
						</p>
						<p class="card-text">
							<b class="playfair">Username:</b>
							<%= message.user_id.username %>
						</p>
						<p class="card-text">
							<b class="playfair">Date Posted:</b> <%=
							cardUtils.formatDate(message.timestamp)%>
						</p>
						<%} else {%>
						<p class="card-text playfair">
							Become a member to see full post
						</p>
						<%}%> <%if (currentUser && currentUser.admin_status) {%>
						<div class="buttonContainer">
							<a
								class="btn btn-danger appButton"
								href="<%= `/delete-message/${message._id}` %>"
								role="button"
								>Delete Message</a
							>
						</div>
						<%}%>
					</div>
				</div>
				<% }) %>
			</div>
			<% }%>
		</div>
	</div>
</div>

<%- include('./layout/footer') -%>
